.cookbook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 100%;
}
.cookbook__post {
  background-color: white;
  width: 15rem;
  height: 20rem;
  margin: 0.5rem;
  text-align: center;
  position: relative;
  box-shadow: 5px 5px 10px var(--dark-green);
}
.cookbook__post--img {
  background-color: black;
  width: 100%;
  height: 50%;
}
.featured--img {
  width: 100%;
  height: 100%;
}
.cookbook__post--btn {
  border: solid black 1px;
  background-color: white;
  font-family: var(--font);
  font-weight: var(--light);
  font-size: 1rem;
  padding: 0.3rem;
  position: absolute;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  left: 17%;
  bottom: 0;
  text-align: center;
  cursor: pointer;
}
.cookbook__post--btn:hover {
  border: solid black 2px;
  font-weight: var(--regular);
}
.cookbook__more {
  border: solid black 1px;
  padding: 0.6rem;
  font-family: var(--font);
  font-weight: var(--light);
  font-size: 1rem;
  background: none;
  cursor: pointer;
}
.cookbook__more:hover {
  border: solid black 2px;
  font-weight: var(--regular);
}

@media (max-width: 991px) {
  .cookbook__post {
    width: 13rem;
    height: 18rem;
  }
  .cookbook__post--btn {
    width: 80%;
    font-size: 0.8rem;
    left: 10%;
  }
  .cookbook__more {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .cookbook__post {
    width: 9.5rem;
    height: 14rem;
    margin: 0.2rem;
  }
  .cookbook__post--btn {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
  .cookbook__more {
    font-size: var(--font-mobile);
  }
}
