* {
  box-sizing: border-box;
}
.heroBanner {
  background-image: url(../../img/hero@2x\ –\ Kopi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30rem;
  display: table;
  box-shadow: 5px 5px 10px var(--dark-green);
}
.heroBanner__text {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: var(--light);
  color: white;
}
.heroBanner__text--h1 {
  font-weight: var(--light);
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.heroBanner__text--p {
  font-size: 1.5rem;
}
.heroBanner__text--cta {
  margin-top: 3rem;
  font-size: 1.2rem;
}
.heroBanner__text--cta a {
  color: white;
  text-decoration: none;
}
.heroBanner__text--cta a:hover,
.home__post--cta p:hover {
  padding-right: 1rem;
}
.home__post {
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 10px var(--dark-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  margin-top: 3rem;
}
.home__post--img {
  max-width: 28rem;
  width: 40%;
  height: 80%;
}
.home__post--info {
  width: 50%;
}
.home__post--cta {
  display: flex;
  align-items: center;
}
.home__post--cta p {
  margin-right: 0.5rem;
}

.mySlide {
  margin: 2rem;
}
.sliderCard {
  width: 30rem;
  height: 25rem;
  margin: 1rem;
}
.sliderCard img {
  width: 100%;
  height: 100%;
}
.sliderCard__title h3 {
  font-family: var(--font);
  font-weight: var(--light);
}
.sliderHeader {
  margin-top: 5rem;
  text-align: center;
  font-weight: var(--light);
}

@media (max-width: 991px) {
  .heroBanner {
    height: 25rem;
  }
  .heroBanner__text--h1 {
    font-size: 2rem;
  }
  .heroBanner__text--p {
    font-size: 1rem;
  }
  .heroBanner__text--cta {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  .home__post--img {
    height: auto;
  }
  .mySlide {
    margin: 1rem;
  }
  .sliderHeader {
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .heroBanner {
    height: 18rem;
  }
  .heroBanner__text--h1 {
    font-size: 1.4rem;
  }
  .heroBanner__text--p {
    font-size: 1rem;
  }
  .heroBanner__text--cta {
    font-size: 0.8rem;
  }
  .home__post {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 10rem;
  }
  .home__post {
    flex-direction: column-reverse;
    height: auto;
    padding: 1rem;
  }
  .home__post--img {
    width: 80%;
  }
  .home__post--info {
    width: 80%;
  }
}
