.recipeHero {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
}
.recipeHero--img {
  max-width: 100%;
  height: auto;
}
.recipeHero:hover {
  opacity: 0.7;
}
.recipe__text {
  display: flex;
  justify-content: space-around;
}
.recipe__text--steps {
  width: 50%;
}
.recipe__tips {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.recipe__tips--text {
  width: 40%;
  height: fit-content;
}
.recipeImg {
  width: 50%;
  height: fit-content;
}
.recipeImg-one {
  width: 100%;
  height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 991px) {
  .recipe__text {
    display: block;
  }
  .recipe__tips {
    display: block;
  }
  .recipeImg {
    width: 70%;
    margin: 0 auto;
  }
  .recipe__tips--text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .recipe__text--steps {
    width: 100%;
  }
}
